# Python 缓存
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# 环境变量 (千万不能传！里面有 API Key)

.env

# 数据库文件
*.db
*.sqlite3
chat_history.db

# 自动生成的文件 (不需要传，让用户自己生成)
backend/static/
# Docker
.docker/
c
.DS_Store